# Node modules
node_modules/

# dotenv environment files
.env

# Logs
logs
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# Optional cache and debug output
.cache/
.tmp/
.vscode/
.idea/

# Build output
dist/
build/

Mathletics_Architecture_Document.pdf
firebase-service-account.json

